<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwgtech.unity">
    <application>
        <provider
            android:authorities="com.cwgtech.unity.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>




